{% load static %}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="{% static 'addons/css/bootstrap.min.css' %}">


<link rel="stylesheet" href="{% static 'addons/css/morris.css' %}">
<link rel="stylesheet" href="{% static 'addons/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'addons/css/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'addons/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'addons/css/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
<link rel="stylesheet" href="{% static 'addons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">